<app-nav></app-nav>
<button (click)="createUser()">Create user</button>
<button (click)="loguin()">Login</button>
<button (click)="getProfile()">Perfil Usuario</button>
<button (click)="descargarPDF()">Descargar PDF</button>
<input type="file" (change)="onUpload($event)">
<hr>
<img *ngIf="imgRta" [src]="imgRta" alt="">
<app-products></app-products>
<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/> -->

